<div class="producto">
    <img src="https://live.staticflickr.com/7260/7543795362_4265791e72_n.jpg">
    <p>{{ producto.nombre }}</p>
    <!-- <p>{{ producto.descripcion }}</p> -->
    <!-- <p>{{ producto.categoria }}</p> -->
    <p class="precio">{{ producto.precio }} €</p>
    <!-- <p>{{ producto.cantidad }}</p> -->
    <!-- <p>{{ producto.stock }}</p> -->
    <button class="boton-ecommerce">Añadir a la cesta</button>
</div>

<!-- En este componente mostramos los valores de las propiedades que queremos de los productos-->