<div class="col s7">
    <table>
        <thead>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productosService.productos">
                <td>{{producto.foto}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.categoria}}</td>
                <td><app-etiqueta-precio [precioCentimo]="producto.precio" /></td>
                <td>{{producto.stock}}</td>
                <td>
                    <a (click)="editarProducto(producto)">
                        <i class="material-icons">edit</i>
                    </a>

                </td>
                <td><a (click)="eliminarProducto(producto._id)">
                        <i class="material-icons">delete</i></a>

                </td>
            </tr>
        </tbody>
    </table>
</div>