<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<nav class="navbar">

    <ul>

        <li>
            <a (click)="navegarAltas()">Alta de Producto</a>
        </li>
        <li>
            <a (click)="navegarModificaciones()">Modificar Productos</a>
        </li>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>