<!--<h1>Historial de Compras</h1>
<div class="caja-pedidos" *ngFor="let pedido of pedidos">
    <p>Fecha Compra: {{pedido.fechaCompra}}</p>
    <p>Productos:</p>
    <p *ngFor="let producto of pedido.listaProductos"> - {{producto}}<p>
    <p>Total economico Pedido: {{pedido.totalCompra}} €</p>
</div> -->



<h1 class="header">Historial de Compras</h1>

<div class="row">
  <div class="col s12 m6" *ngFor="let pedido of pedidos">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Fecha Compra: {{ pedido.fechaCompra }}</span>
        <p>Productos:</p>
        <ul>
          <li *ngFor="let producto of pedido.items"> - {{ producto.nombre }} Cantidad {{producto.cantidad}}</li>
        </ul>
        <p>Total económico Pedido: {{ pedido.totalCompra }} €</p>
        
      </div>
    </div>
  </div>
</div>
<h2>Total Facturado: {{totalFacturacion}}€</h2>
