
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<nav class="navbar">

  <ul>

    <li>
      <a href="#">Inicio</a>
    </li>
    <li>
      <a (click)="navegarARegistro()">Registro</a>
    </li>
    <li>
      <a (click)="navegarARegistro()">Mis Compras</a>
    </li>
    <li>
      <input type="text" placeholder="E-Mail" #usuario>
    </li>
    <li>
      <input type="password" placeholder="Contraseña" #password>
    </li>
    <li><button (click)="login(usuario.value,password.value)">Login</button></li>
    <li class="mensajeBienvenida">{{mensajeBienvenida}}</li>
  </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<router-outlet></router-outlet>