.categorias {
    list-style: none;
    padding: 25px;
    margin: 10px;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(186, 186, 186, 0.5);
    padding-top: 5px;
    padding-right: 45px;


  }

  .categoria-btn {
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2bbbad;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;

  }

  .categoria-btn.activo {

    background-color: #ddd;
    color: #333;

  }

  .categoria-btn:hover {
    background-color: #239387;
    border-color: #999;
  }

  .categoria-btn:active {
    background-color: #ddd;
    border-color: #888;

  }

  strong{
    margin-left: 35%;
  }