
<strong>Categorias</strong>
<ul class="categorias">
    <li><button class="categoria-btn" (click)="recogerCategoria('Todos los productos')">Todos</button></li>
    <li><button class="categoria-btn" (click)="recogerCategoria('Camiseta')">Camisetas</button></li>
    <li><button class="categoria-btn" (click)="recogerCategoria('Pantalon')">Pantalones</button></li>
    <li><button class="categoria-btn" (click)="recogerCategoria('Zapatillas')">Zapatillas</button></li>
    <li><button class="categoria-btn" (click)="recogerCategoria('Relojes')">Relojes</button></li>
</ul>

