<footer class="footer">
    <div class="contenedor">
      <div class="elemento">
        <h3><b>Sobre nosotros</b></h3>
        <p>Somos una tienda de ropa y accesiorios.
            Llevamos vendiendo ropa desde 1920 y 
            hemos decidido modernizarnos creando 
            una página web.
            En la web tenemos varios tipos de objetos
        como camisetas, pantalones, zapatillas y relojes.</p>
      </div>
  
      <div class="elemento">
        <h3><b>Preguntas Frecuentes</b></h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Envio</a></li>
          <li><a href="#">Devolucion y reembolso</a></li>
        </ul>
      </div>
  
      <div class="elemento">
        <h3><b>Contacto</b></h3>
        <p>Dirección: Ctra. de Ledesma, 32, 52, 37006 Salamanca</p>
        <p>Email: tiendaropa&#64;ropa.es</p>
        <p>Teléfono: 987-654-321</p>
      </div>
    </div>
  </footer>
